* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

/* Logo y nav*/
.main_navbar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-bottom: solid 1px;
    border-image-source: linear-gradient(to right, #B00F4B,#ed0202af);
    border-image-slice: 1;
}

.logo_header{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.logo{
    width: 100%;
    height: 100%;
}

.search_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    color: silver;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1em;
    border: solid 1px #808080;
    border-radius: 5px;
    background-color: black;
}

.search-input:hover{
    border: solid 1px white;
    transition: 0.4s;
}

.search-input:focus{
    border-color: #F60144;
    box-shadow: 0 1px 1px #ed0202af;
    outline: none;
}

.search-input::placeholder{
    background-image: url(../img/icon-search.png);
    background-size: 1.2em;
    background-repeat: no-repeat;
    background-position: center right;
}

.navbar1{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
}

.nav_link{
    display: flex;
    width: 100%;
    height: 100%;
}

.nav_link a{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.nav_link a:hover{
    color: #F60144;
    background-color: rgba(37, 37, 37, 0.692);
    transition: all .3s ease;
}

.icon_container_header{
    display: flex;
}

.icon_container_header a{
    display: flex;
}

.icon_container_header a:hover{
    background-color: #F60144;
    transition: .3s ease-in-out;
}
/* Fin logo y nav */



/* MAIN INICIO */
#main_inicio{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_inicio{
    color: white;
    width: 100%;
    text-align: center;
    margin: 50px;
}

.productos_destacados{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.products_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0,.8);
}

.product:hover{
    box-shadow: 0px 0px 10px 1px #F60144;
    transition: .3s;
}

.product_img1{
    background-image: url(../img/Motherboards.jpg);
    background-size: cover;
    cursor: pointer;
    margin: 10px;
}

.product_img2{
    background-image: url(../img/Microprocesador1.png);
    background-color: white;
    background-size: cover;
    cursor: pointer;
    margin: 10px;
}

.product_img3{
    background-image: url(../img/PlacadeVideo2.jpg);
    background-size: cover;
    cursor: pointer;
    margin: 10px;
}

.hr1{
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px 0px;
    width: 100%;
}

.product_title{
    font-size: 1em;
    text-align: center;
}

.product_price{
    font-size: 1.3em;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-truck{
    color: #3bb92a;
    font-size: 0.7em;
    padding: 0px 10px;
}

.buy_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 60%;
    height: 50px;
    position: relative;
}

.buy_btn::before{
    content: "";
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: linear-gradient(to right, #F60144,#ed0202af);
    transition: all .5s;
    position: absolute;
    border-radius: 5px;
}

.buy_btn::before{
    width: 0;
    top: 0;
    left: 0;
}

.buy_btn:hover::before{
    width: 100%;
}

.icon-buy{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    position: relative;
}
/* FIN MAIN INICIO */



/* MAIN PRODUCTOS */
#main_productos{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.main_menu_products{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 5px;
}

.title_menu_products{
    color: white;
    display: block;
    height: 40px;
    border-bottom: solid 1px white;
    font-size: 1.3em;
}

.down_arrow{
    height: 15px;
    width: 15px;
    float: right;
}

.main_menu{
    border-radius: 5px;
}

.product_menu{
    list-style: none;
    font-size: 0;
    padding: 30px 10px
}

.items{
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding-top: 20px;
    padding: 15px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}

.sub_items{
    text-decoration: none;
    color: silver;
    padding: 10px 0px;
    display: block;
    border-radius: 5px;
    font-size: 14px;
}

.sub_items:hover{
    background-color: #911235;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

.menu_items{
    display: block;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
}

.menu_items:hover{
    background-color: #B30737;
    transition: 0.3s;
}

.sub_menu{
    display: none;
    padding: 5px 0px;
    margin: 0px 5px;
}

.sub_menu_items{
    display: block;
}

.menu_items:hover .sub_menu{
    display: block;
}
/* FIN MAIN PRODUCTOS */



/* MAIN GALERIA */
#main_galeria{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.gallery_title{
    font-size: 1.9em;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.gallery_container{
    margin-bottom: 100px;
    display: grid;
}

.gallery_container img{
    border: solid 1px #911235;
    cursor: pointer;
}
/* FIN MAIN GALERIA */



/* MAIN NOSOTROS */
#main_nosotros{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 100px 0;
}

.user_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,.8);
    border-radius: 5px;
    padding: 20px;
}

.avatar_profile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.avatar_profile img{
    width: 50%;
    height: 50%;
    margin: 20px;
}

.body_profile{
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.biography h3{
    font-weight: bold;
}

.biography p{
    padding: 20px;
}

.profile_socials{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile_socials img{
    width: 40px;
}
/* FIN MAIN NOSOTROS */



/* MAIN CONTACTO */
#main_contacto{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_title{
    text-align: center;
    padding: 50px 0;
    color: white;
    font-size: 1.9em;
}

.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.form{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0,.5);
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.form-label{
    font-size: 20px;
    display: block;
    padding-top: 15px;
    margin: 10px 0px;
}

.form-input{
    color: white;
    width: 70%;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    border: solid 1px silver
}

.form-input:hover{
    border: solid 1px white;
    transition: 0.4s;
}

.form-input:focus{
    border-color: #F60144;
    box-shadow: 0 1px 1px #ed0202af;
    outline: none;
}

.form textarea{
    width: 98%;
    height: 100%;
}

.form .send{
    margin: 10px 0px;
    font-size: 20px;
    width: 100%;
    color: white;
    background: #B00F4B;
    padding: 20px;
    border: none;
}

.form .send:hover{
    color: white;
    background-image: linear-gradient(to right, #B00F4B,#ed0202af);
    background-image: 1;
    transition: 0.3s;
}

.form .send:hover{
    cursor: pointer;
}
/* FIN MAIN CONTACTO */


/* Sponsors */
.sponsor_carusel{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    padding: 40px 0px;
    cursor: pointer;
}

.sponsors_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.img-sponsor{
    margin: 0px 15px;
    transition: all .3s;
    filter: grayscale(1);
    opacity: .5;
    width: 100px;
}

.img-sponsor:hover{
    filter: none;
    opacity: 1;
    transition: .3s;
}



/* FOOTER */
footer{
    background-color: black;
}

#footer_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.footer_box{
    display: flex;
    width: 100%;
}

.hr2{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0px 20px;
}

/* Informacion de nosotros */
.info_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 30px 0px;
}

.info_nav{
    list-style: none;
}

.info-title{
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    margin: 20px 0px;
}

.info-item{
    color: silver;
    font-weight: bold;
    font-size: 0.9em;
    margin: 15px 0px;
}

.link-item{
    text-decoration: none;
    color: silver;
}

.link-item:hover{
    color: white;
    transition: 0.1s;
}


/* Redes sociales */
.social_media{
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;
}

.title-socials{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px 0px;
}

.social_container{
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px
}

.social-icon{
    filter: grayscale(1);
    opacity: .5;
}

.social-icon img{
    width: 30px;
}

.social-icon:hover{
    filter: none;
    opacity: 1;
    transition: .3s;
}

.footer_end{
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 10px 0px;
}
/* FIN FOOTER */





            /* MOBILE */
@media only screen and  (max-width: 576px){

/* Logo y nav */
.main_navbar{
    flex-direction: column;
}

.search_container{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.navbar_container{
    width: 100%;
    height: 100%;
}

.navbar{
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nav_link a{
    font-size: 1.2em;
    padding: 20px;
}

.icon_container_header{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 10px;
}

.icon_container_header a{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
/* Fin logo y nav */



/* MAIN INICIO */
#main_inicio{
    flex-direction: column;
}

.products_container{
    flex-direction: column;
}

.title_inicio{
    font-size: 1.5em;
}

.product{
    width: 60%;
}

.product_img1{
    width: 40vw;
    height: 40vw;
}

.product_img2{
    width: 40vw;
    height: 40vw;
}

.product_img3{
    width: 40vw;
    height: 40vw;
}
/* FIN MAIN INICIO */



/* MAIN PRODUCTOS */
.main_menu_products{
    width: 100%;
}

.title_menu_products{
    text-align: center;
}
/* FIN MAIN PRODUCTOS */



/* MAIN NOSOTROS */
#main_nosotros{
    flex-direction: column;
}

.group_profile{
    width: 80%;
    flex-direction: column;
}

.user_profile{
    width: 100%;
    flex-direction: column;
    margin: 20px 0;
}

.body_profile{
    flex-direction: column;
}

.biography h3{
    font-size: 1em;
}

.profile_socials img{
    height: 45px;
}
/* FIN MAIN NOSOTROS */



/* MAIN GALERIA */
.gallery_container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "img1 img1 img2 img2"
    "img3 img3 img3 img4"
    "img3 img3 img3 img5"
    "img6 img6 img7 img7";
    padding: 10px;
    grid-gap: 10px;
}

.img_gallery1{
    grid-area: img3;
    width: 100%;
    height: 100%;
}

.img_gallery2{
    grid-area: img2;
    width: 100%;
    height: 100%;
}

.img_gallery3{
    grid-area: img1;
    width: 100%;
    height: 100%;
}

.img_gallery4{
    grid-area: img4;
    width: 100%;
    height: 100%;
}

.img_gallery5{
    grid-area: img5;
    width: 100%;
    height: 100%;
}

.img_gallery6{
    grid-area: img6;
    width: 100%;
    height: 100%;
}

.img_gallery7{
    grid-area: img7;
    width: 100%;
    height: 100%;
}
/* FIN MAIN GALERIA */



/* MAIN CONTACTO */
.form_container{
    width: 90%;
}

.form-label{
    font-size: 1em;
}

.form-input{
    font-size: 0.9em;
    padding: 10px;
}
/* FIN MAIN CONTACTO */


/* Sponsors */
.img-sponsor{
    width: 14%;
}



/* FOOTER */
#footer_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_box{
    justify-content: center;
    flex-direction: column;
}
/* FIN FOOTER */

}





            /* TABLET */
@media only screen and (min-width: 576px){

/* Logo y nav */
#header_inicio{
    width: 100%;
    height: 100%;
}

.main_navbar{
    flex-direction: column;
    align-items: center;
}

.search_container{
    width: 100%;
    height: 100%;
    padding: 20px;
}


.navbar_container{
    width: 100%;
    height: 100%;
}

.navbar{
    width: 100%;
    height: 100%;
}

.nav_link a{
    font-size: 1.2em;
    padding: 30px 10px;
    margin: 20px 0px;
}

.icon_container_header{
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.icon_container_header a{
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 20px;
}
/* Fin logo y nav */



/* MAIN INICIO */
#main_inicio{
    flex-direction: column;
}

.title_inicio{
    font-size: 1.7em;
}

.products_container{
    flex-direction: column;
}

.product{
    flex-direction: row;
    width: 80%;
}

.hr1{
    display: none;
}

.product_img1{
    width: 100%;
    height: 35vw;
}

.product_img2{
    width: 100%;
    height: 35vw;
}

.product_img3{
    width: 100%;
    height: 35vw;
}

.product_description{
    width: 100%;
    padding: 20px;
    font-size: 1.1em;
}
/* FIN MAIN INICIO */



/* MAIN PRODUCTOS */
#main_productos{
    justify-content: center;
    align-items: center;
}

.main_menu_products{
    width: 100%;
}
/* MAIN PRODUCTOS */



/* MAIN GALERIA */
#main_galeria section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_container{
    display: grid;
    width: 80%;
    height: 80vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "img3 img3 img5 img5"
    "img3 img3 img4 img4"
    "img1 img1 img2 img2"
    "img6 img6 img7 img7";
    padding: 10px;
    grid-gap: 10px;
}

.img_gallery1{
    grid-area: img3;
    width: 100%;
    height: 100%;
}

.img_gallery2{
    grid-area: img2;
    width: 100%;
    height: 100%;
}

.img_gallery3{
    grid-area: img1;
    width: 100%;
    height: 100%;
}

.img_gallery4{
    grid-area: img4;
    width: 100%;
    height: 100%;
}

.img_gallery5{
    grid-area: img5;
    width: 100%;
    height: 100%;
}

.img_gallery6{
    grid-area: img6;
    width: 100%;
    height: 100%;
}

.img_gallery7{
    grid-area: img7;
    width: 100%;
    height: 100%;
}
/* FIN MAIN GALERIA */



/* MAIN NOSOTROS */
#main_nosotros{
    flex-direction: column;
}

.group_profile{
    width: 80%;
    flex-direction: column;
}

.user_profile{
    margin: 20px;
    flex-direction: row;
}

.body_profile{
    width: 80%;
    padding: 10px;
}
/* FIN MAIN NOSOTROS */



/* MAIN CONTACTO */
.form_container{
    width: 70%;
}
/* FIN MAIN CONTACTO */


/* Sponsors */
.img-sponsor{
    width: 14%;
}

}





            /* ESCRITORIO */
@media only screen and (min-width: 992px){

/* Logo y nav */    
#header_inicio{
    height: 100%;
    width: 100%;
}

.main_navbar{
    flex-direction: row;
}

.logo{
    width: 200px;
}

.search_container{
    width: 80%
}

.navbar_container{
    width: 100%;
    margin: 0px 20px;
}

.navbar1{
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.nav_link a{
    font-size: 1.2em;
    padding: 50px 5px;
    margin: 0px 10px;
}

.icon_container_header{
    justify-content: center;
    width: 50%;
}

.icon_container_header a{
    padding: 50px;
    justify-content: center;
}
/* Fin logo y nav */



/* MAIN INICIO */
#main_inicio{
    flex-direction: column;
}

.products_container{
    flex-direction: row;
    align-items: center;
}

.product{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.hr1{
    display: block;
}

.product_img1{
    width: 80%;
    height: 15vw;
}

.product_img2{
    width: 80%;
    height: 15vw;
}

.product_img3{
    width: 80%;
    height: 15vw;
}
/* FIN MAIN INICIO */



/* MAIN PRODUCTOS */
.main_menu_products{
    width: 350px;
    height: 700px;
}
/* FIN MAIN PRODUCTOS */



/* MAIN GALERIA */
#main_galeria section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_container{
    display: grid;
    width: 70%;
    height: 50vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "img3 img3 img1 img1 "
    "img3 img3 img2 img2 "
    "img6 img7 img4 img5 ";
    padding: 10px;
    grid-gap: 10px;
}

.img_gallery1{
    grid-area: img3;
    width: 100%;
    height: 100%;
}

.img_gallery2{
    grid-area: img2;
    width: 100%;
    height: 100%;
}

.img_gallery3{
    grid-area: img1;
    width: 100%;
    height: 100%;
}

.img_gallery4{
    grid-area: img4;
    width: 100%;
    height: 100%;
}

.img_gallery5{
    grid-area: img5;
    width: 100%;
    height: 100%;
}

.img_gallery6{
    grid-area: img6;
    width: 100%;
    height: 100%;
}

.img_gallery7{
    grid-area: img7;
    width: 100%;
    height: 100%;
}
/* FIN MAIN GALERIA */



/* MAIN NOSOTROS */
#main_nosotros{
    flex-direction: column;
}

.group_profile{
    flex-direction: row;
    width: 80%;
}

.user_profile{
    flex-direction: column;
    margin: 0px 20px;
}

.biography p{
    font-size: 1em;
    padding: 20px;
}

.profile_socials img{
    height: 40px;
}
/* FIN MAIN NOSOTROS */



/* MAIN CONTACTO */
#main_contacto{
    flex-direction: column;
}

.form_container{
    width: 40%;
}
/* FIN MAIN CONTACTO */


/* Sponsors */
.img-sponsor{
    width: 8%;
}

}