@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit; }

/*VARIABLES*/
/*MIXIN*/
.hr, .products_container .product .hr1, footer .hr2 {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/* MAIN INICIO */
#main_inicio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #main_inicio .inicio_title {
    color: #ffffff;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; }

.products_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 50px; }
  .products_container .product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: black; }
    .products_container .product:hover {
      box-shadow: 0px 0px 10px 1px #F60144;
      transition: .3s; }
    .products_container .product_img1 {
      background-image: url(../img/Motherboards.jpg);
      background-size: cover;
      cursor: pointer; }
    .products_container .product_img2 {
      background-image: url(../img/Microprocesador1.png);
      background-color: #ffffff;
      background-size: cover;
      cursor: pointer; }
    .products_container .product_img3 {
      background-image: url(../img/PlacadeVideo2.jpg);
      background-size: cover;
      cursor: pointer; }
    .products_container .product_description {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      color: #ffffff;
      width: 100%; }
    .products_container .product_title {
      font-size: 1em;
      text-align: center; }
    .products_container .product_price {
      font-size: 1.3em;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .products_container .product_icon_truck {
      color: #3bb92a;
      font-size: 0.7em;
      padding: 0px 10px; }
    .products_container .product_buy_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 5px;
      width: 100%;
      max-width: 60%;
      height: 50px;
      position: relative; }
    .products_container .product_buy_btn::before {
      content: "";
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: linear-gradient(to right, #F60144, #ed0202af);
      transition: all .5s;
      position: absolute;
      border-radius: 5px; }
    .products_container .product_buy_btn::before {
      width: 0;
      top: 0;
      left: 0; }
    .products_container .product_buy_btn:hover::before {
      width: 100%; }
    .products_container .product .icon-buy-btn {
      vertical-align: middle;
      width: 20px;
      height: 20px;
      position: relative; }

/* FIN MAIN INICIO */
/* MAIN PRODUCTOS */
.main_menu_products {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-bottom: 100px;
  border-radius: 5px; }
  .main_menu_products .title_menu_products {
    color: #ffffff;
    display: block;
    height: 40px;
    border-bottom: solid 1px #ffffff;
    font-size: 1.3em; }

.down_arrow {
  height: 15px;
  width: 15px;
  float: right; }

.main_menu {
  border-radius: 5px; }
  .main_menu .product_menu {
    list-style: none;
    font-size: 0;
    padding: 30px 10px; }
    .main_menu .product_menu .menu_items {
      display: block;
      width: 100%;
      font-size: 20px;
      border-radius: 5px; }
      .main_menu .product_menu .menu_items:hover {
        background-color: #B30737;
        transition: 0.3s; }
      .main_menu .product_menu .menu_items:hover .sub_menu {
        display: block; }
      .main_menu .product_menu .menu_items .items {
        text-decoration: none;
        font-size: 1em;
        color: #ffffff;
        padding-top: 20px;
        padding: 15px;
        display: block;
        border-radius: 5px;
        cursor: pointer; }
    .main_menu .product_menu .sub_menu {
      display: none;
      padding: 5px 0px;
      margin: 0px 5px; }
      .main_menu .product_menu .sub_menu_items {
        display: block; }
        .main_menu .product_menu .sub_menu_items .sub_items {
          text-decoration: none;
          color: #c0c0c0;
          padding: 10px 0px;
          display: block;
          border-radius: 5px;
          font-size: 14px; }
        .main_menu .product_menu .sub_menu_items .sub_items:hover {
          background-color: #911235;
          transition: 0.3s;
          color: #ffffff;
          cursor: pointer; }

/* FIN MAIN PRODUCTOS */
/* MAIN GALERIA */
.gallery_title {
  font-size: 1.9em;
  color: #ffffff;
  text-align: center;
  padding: 50px 0; }

.gallery_container {
  margin-bottom: 100px;
  height: 200px; }
  .gallery_container img {
    border: solid 1px #911235;
    cursor: pointer; }

/* FIN MAIN GALERIA */
/* MAIN NOSOTROS */
#main_nosotros {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #main_nosotros .group_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 100px 0; }
    #main_nosotros .group_profile .user_profile {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 5px;
      padding: 20px; }
      #main_nosotros .group_profile .user_profile .avatar_profile {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center; }

.body_profile {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .body_profile .biography h3 {
    font-weight: bold;
    padding: 10px 0;
    font-size: 1.2em; }
  .body_profile .biography p {
    padding: 20px; }
  .body_profile .profile_socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%; }
    .body_profile .profile_socials img {
      width: 40px; }

/* FIN MAIN NOSOTROS */
/* MAIN CONTACTO */
#main_contacto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #main_contacto .form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px; }
    #main_contacto .form_container .contact_title {
      text-align: center;
      padding: 50px 0;
      color: #ffffff;
      font-size: 1.9em; }

.form {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff; }
  .form-label {
    font-size: 20px;
    display: block;
    padding-top: 15px;
    margin: 10px 0px; }
  .form-input {
    color: #ffffff;
    width: 70%;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    border: solid 1px #c0c0c0; }
  .form-input:hover {
    border: solid 1px #ffffff;
    transition: 0.4s; }
  .form-input:focus {
    border-color: #F60144;
    box-shadow: 0 1px 1px #ed0202af;
    outline: none; }
  .form textarea {
    width: 98%;
    height: 100%; }
  .form .send {
    margin: 10px 0px;
    font-size: 20px;
    width: 100%;
    color: #ffffff;
    background: #B00F4B;
    padding: 20px;
    border: none; }
  .form .send:hover {
    color: #ffffff;
    background-image: linear-gradient(to right, #B00F4B, #ed0202af);
    background-image: 1;
    transition: 0.3s; }
  .form .send:hover {
    cursor: pointer; }

/* FIN MAIN CONTACTO */
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }

/* HEADER */
/* Logo y nav*/
header {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-bottom: 1rem; }
  header .navbar_main {
    width: 100%;
    display: flex;
    justify-content: center; }
    header .navbar_main .navbar {
      padding: 0; }
  header .navbar_container .navbar_link {
    display: flex;
    width: 100%;
    height: 100%; }
    header .navbar_container .navbar_link a {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #c0c0c0;
      position: relative;
      font-weight: 700; }
    header .navbar_container .navbar_link a:hover {
      color: #ffffff; }
    header .navbar_container .navbar_link a::after {
      content: "";
      position: absolute;
      background-color: #F60144;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s; }
    header .navbar_container .navbar_link a:hover::after {
      width: 100%; }
  header .navbar_container_icon {
    display: flex; }
    header .navbar_container_icon a {
      display: flex; }
    header .navbar_container_icon a:hover {
      background-color: #F60144;
      transition: .3s ease-in-out; }
  header .header_title {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff; }
    header .header_title h1 {
      font-weight: 700;
      font-size: 3.5rem; }
    header .header_title p {
      font-size: 1.2rem; }
  header .header_button_down {
    border-radius: 3rem;
    height: 3rem;
    width: 10rem;
    background-color: #F60144;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: none; }
    header .header_button_down:hover {
      background-color: black;
      transition: 0.3s; }
    header .header_button_down h1 {
      font-size: 1rem;
      color: #c0c0c0;
      font-weight: bold;
      text-align: center; }
    header .header_button_down h1:hover {
      color: #ffffff; }
    header .header_button_down h1 {
      margin: 0; }

#header_secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #1a19198f, #2121211c); }
  #header_secondary .navbar_main {
    width: 100%;
    display: flex;
    justify-content: center; }
  #header_secondary .navbar_container .navbar_link {
    display: flex;
    width: 100%;
    height: 100%; }
    #header_secondary .navbar_container .navbar_link a {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #c0c0c0;
      position: relative;
      font-weight: 700; }
    #header_secondary .navbar_container .navbar_link a:hover {
      color: #ffffff; }
    #header_secondary .navbar_container .navbar_link a::after {
      content: "";
      position: absolute;
      background-color: #F60144;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s; }
    #header_secondary .navbar_container .navbar_link a:hover::after {
      width: 100%; }
  #header_secondary .navbar_container_icon {
    display: flex; }
    #header_secondary .navbar_container_icon a {
      display: flex; }
    #header_secondary .navbar_container_icon a:hover {
      background-color: #F60144;
      transition: .3s ease-in-out; }

/* Fin logo y nav */
/* Sponsors */
.sponsor_carusel {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffffff;
  padding: 40px 0px; }
  .sponsor_carusel .sponsors_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
    .sponsor_carusel .sponsors_container .sponsor-img {
      margin: 0px 15px;
      transition: all .3s;
      filter: grayscale(1);
      opacity: .5;
      cursor: pointer; }
    .sponsor_carusel .sponsors_container .sponsor-img:hover {
      filter: none;
      opacity: 1;
      transition: .3s; }

/* FOOTER */
footer {
  height: auto;
  background-color: black; }
  footer #footer_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /* Informacion de nosotros */
    /* Redes sociales */ }
    footer #footer_container .footer_about {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #ffffff; }
      footer #footer_container .footer_about_title {
        font-weight: bold;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        margin: 20px 0px; }
      footer #footer_container .footer_about_nav {
        list-style: none;
        margin: 0;
        padding: 0; }
        footer #footer_container .footer_about_nav .about_item {
          color: #c0c0c0;
          font-weight: bold;
          font-size: 0.9em;
          margin: 15px 0px; }
          footer #footer_container .footer_about_nav .about_item .link-item {
            text-decoration: none;
            color: #c0c0c0; }
            footer #footer_container .footer_about_nav .about_item .link-item:hover {
              color: #ffffff;
              transition: 0.1s; }
    footer #footer_container .social_container {
      color: #ffffff;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      footer #footer_container .social_container .social_title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        margin: 20px 0px;
        width: 100%; }
      footer #footer_container .social_container_icon {
        width: 50%;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin: 40px 0px;
        padding: 0; }
        footer #footer_container .social_container_icon .social-icon {
          filter: grayscale(1);
          opacity: .5; }
        footer #footer_container .social_container_icon .social-icon img {
          width: 30px; }
        footer #footer_container .social_container_icon .social-icon:hover {
          filter: none;
          opacity: 1;
          transition: .3s; }
  footer .hr2 {
    margin: 0px 20px;
    width: auto; }
  footer .footer_end p {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    margin: 0; }

/* FIN FOOTER */
/* MOBILE */
@media only screen and (max-width: 576px) {
  /* Logo y nav */
  header {
    flex-direction: column; }
    header .navbar_main {
      flex-direction: column;
      width: 100%; }
      header .navbar_main .navbar_logo {
        width: 200px;
        height: 50%; }
    header .navbar_container .navbar_link a {
      font-size: 1.2em;
      padding: 5px 0;
      margin: 10px 0; }
    header .navbar_container_icon {
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
      margin-top: 10px; }
      header .navbar_container_icon a {
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center; }
    header .header_title h1 {
      font-size: 3rem; }
  #header_secondary {
    flex-direction: column; }
    #header_secondary .navbar_main {
      flex-direction: column;
      width: 100%; }
      #header_secondary .navbar_main .navbar_logo {
        width: 200px;
        height: 50%; }
    #header_secondary .navbar_container .navbar_link a {
      font-size: 1.2em;
      padding: 5px 0;
      margin: 10px 0; }
    #header_secondary .navbar_container_icon {
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
      margin-top: 10px; }
      #header_secondary .navbar_container_icon a {
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center; }
    #header_secondary .header_title h1 {
      font-size: 3rem; }
  /* Fin logo y nav */
  /* MAIN INICIO */
  #main_inicio {
    flex-direction: column; }
    #main_inicio .inicio_title {
      font-size: 1.5em; }
    #main_inicio .products_container {
      flex-direction: column; }
      #main_inicio .products_container .product {
        width: 60%;
        height: auto;
        flex-direction: column; }
        #main_inicio .products_container .product .product_img1 {
          width: 100%;
          height: 60vw;
          background-position: center; }
        #main_inicio .products_container .product_img2 {
          width: 100%;
          height: 60vw;
          background-position: center; }
        #main_inicio .products_container .product_img3 {
          width: 100%;
          height: 60vw;
          background-position: center; }
  /* FIN MAIN INICIO */
  /* MAIN PRODUCTOS */
  .main_menu_products {
    width: 100%; }
    .main_menu_products .title_menu_products {
      text-align: center; }
  /* FIN MAIN PRODUCTOS */
  /* MAIN NOSOTROS */
  #main_nosotros {
    flex-direction: column; }
    #main_nosotros .group_profile {
      width: 80%;
      flex-direction: column; }
      #main_nosotros .group_profile .user_profile {
        width: 100%;
        flex-direction: column;
        margin: 20px 0; }
        #main_nosotros .group_profile .user_profile .avatar_profile img {
          width: 150px; }
        #main_nosotros .group_profile .user_profile .body_profile {
          flex-direction: column; }
          #main_nosotros .group_profile .user_profile .body_profile .biography h3 {
            font-size: 1em; }
          #main_nosotros .group_profile .user_profile .body_profile .profile_socials img {
            height: 45px; }
  /* FIN MAIN NOSOTROS */
  /* MAIN GALERIA */
  .gallery_container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "img1 img1 img2 img2" "img3 img3 img3 img4" "img3 img3 img3 img5" "img6 img6 img7 img7";
    padding: 10px;
    grid-gap: 10px; }
    .gallery_container .img_gallery1 {
      grid-area: img3;
      width: 100%;
      height: 100%; }
    .gallery_container .img_gallery2 {
      grid-area: img2;
      width: 100%;
      height: 100%; }
    .gallery_container .img_gallery3 {
      grid-area: img1;
      width: 100%;
      height: 100%; }
    .gallery_container .img_gallery4 {
      grid-area: img4;
      width: 100%;
      height: 100%; }
    .gallery_container .img_gallery5 {
      grid-area: img5;
      width: 100%;
      height: 100%; }
    .gallery_container .img_gallery6 {
      grid-area: img6;
      width: 100%;
      height: 100%; }
    .gallery_container .img_gallery7 {
      grid-area: img7;
      width: 100%;
      height: 100%; }
  /* FIN MAIN GALERIA */
  /* MAIN CONTACTO */
  .form_container {
    width: 90%; }
    .form_container .form-label {
      font-size: 1em; }
    .form_container .form-input {
      font-size: 0.9em;
      padding: 10px; }
  /* FIN MAIN CONTACTO */
  /* Sponsors */
  .sponsor-img {
    width: 14%; }
  /* FOOTER */
  #footer_container {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #footer_container .footer_about {
      justify-content: center;
      flex-direction: column; }
  /* FIN FOOTER */ }

/* TABLET */
@media only screen and (min-width: 575px) {
  /* Logo y nav */
  .navbar_main {
    flex-direction: column; }
    .navbar_main .navbar_logo {
      width: 200px; }
    .navbar_main .navbar-nav {
      display: flex;
      flex-direction: row;
      margin: 20px 0; }
      .navbar_main .navbar-nav .navbar_link a {
        font-size: 1.2em;
        margin: 20px 0; }
    .navbar_main .navbar_container_icon {
      width: 100%;
      height: 100%;
      justify-content: space-around; }
      .navbar_main .navbar_container_icon a {
        width: 100%;
        height: 100%;
        justify-content: center;
        padding: 20px; }
      .navbar_main .navbar_container_icon .navbar-icon {
        width: 20px;
        height: 20px; }
  /* Fin logo y nav */
  /* MAIN INICIO */
  #main_inicio {
    flex-direction: column; }
    #main_inicio .inicio_title {
      font-size: 2rem; }
    #main_inicio .products_container {
      flex-direction: column;
      padding: 0px 20px; }
      #main_inicio .products_container .product {
        flex-direction: row;
        width: 100%;
        height: 100%; }
        #main_inicio .products_container .product_img1 {
          width: 100%;
          height: 45vw;
          background-size: cover; }
        #main_inicio .products_container .product_img2 {
          width: 100%;
          height: 45vw;
          background-size: cover; }
        #main_inicio .products_container .product_img3 {
          width: 100%;
          height: 45vw;
          background-size: cover; }
      #main_inicio .products_container .hr1 {
        display: none; }
      #main_inicio .products_container .product_description {
        width: 100%;
        padding: 20px;
        font-size: 1.1em; }
  /* FIN MAIN INICIO */
  /* MAIN PRODUCTOS */
  #main_productos {
    justify-content: center;
    align-items: center; }
    #main_productos .main_menu_products {
      width: 300px; }
  /* MAIN PRODUCTOS */
  /* MAIN GALERIA */
  #main_galeria section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #main_galeria section .gallery_container {
      display: grid;
      width: 80%;
      height: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "img3 img3 img5 img5" "img3 img3 img4 img4" "img1 img1 img2 img2" "img6 img6 img7 img7";
      padding: 10px;
      grid-gap: 10px; }
      #main_galeria section .gallery_container .img_gallery1 {
        grid-area: img3;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery2 {
        grid-area: img2;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery3 {
        grid-area: img1;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery4 {
        grid-area: img4;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery5 {
        grid-area: img5;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery6 {
        grid-area: img6;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery7 {
        grid-area: img7;
        width: 100%;
        height: 100%; }
  /* FIN MAIN GALERIA */
  /* MAIN NOSOTROS */
  #main_nosotros {
    flex-direction: column; }
    #main_nosotros .group_profile {
      width: 80%;
      flex-direction: column; }
      #main_nosotros .group_profile .user_profile {
        margin: 20px;
        flex-direction: row; }
      #main_nosotros .group_profile .body_profile {
        width: 80%;
        padding: 10px; }
  /* FIN MAIN NOSOTROS */
  /* MAIN CONTACTO */
  .form_container {
    width: 70%; }
  /* FIN MAIN CONTACTO */
  /* Sponsors */
  .sponsor-img {
    width: 14%; } }

/* ESCRITORIO */
@media only screen and (min-width: 992px) {
  /* Logo y nav */
  header {
    height: 100vh;
    width: 100%; }
    header .navbar_main {
      flex-direction: row; }
      header .navbar_main .navbar_logo {
        width: 200px; }
      header .navbar_main .navbar_container {
        width: 100%;
        margin: 0px 20px; }
        header .navbar_main .navbar_container .navbar_link a {
          font-size: 1em;
          padding: 0px 10px;
          margin: 0px 10px; }
      header .navbar_main .navbar_container_icon {
        justify-content: center;
        width: 50%; }
        header .navbar_main .navbar_container_icon a {
          padding: 50px;
          justify-content: center; }
  /* Fin logo y nav */
  /* MAIN INICIO */
  #main_inicio {
    flex-direction: column; }
    #main_inicio .inicio_title {
      font-size: 2.5rem; }
    #main_inicio .products_container {
      flex-direction: row;
      align-items: center; }
      #main_inicio .products_container .product {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 20%; }
        #main_inicio .products_container .product .product_img1 {
          width: 100%;
          height: 20vw;
          background-size: cover;
          background-position: center; }
        #main_inicio .products_container .product .product_img2 {
          width: 100%;
          height: 20vw;
          background-size: cover;
          background-position: center; }
        #main_inicio .products_container .product .product_img3 {
          width: 100%;
          height: 20vw;
          background-size: cover;
          background-position: center; }
      #main_inicio .products_container .hr1 {
        display: block; }
  /* FIN MAIN INICIO */
  /* MAIN PRODUCTOS */
  .main_menu_products {
    width: 30%;
    height: 700px; }
  /* FIN MAIN PRODUCTOS */
  /* MAIN GALERIA */
  #main_galeria section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #main_galeria section .gallery_container {
      display: grid;
      width: 70%;
      height: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "img3 img3 img1 img1 " "img3 img3 img2 img2 " "img6 img7 img4 img5 ";
      padding: 10px;
      grid-gap: 10px; }
      #main_galeria section .gallery_container .img_gallery1 {
        grid-area: img3;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery2 {
        grid-area: img2;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery3 {
        grid-area: img1;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery4 {
        grid-area: img4;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery5 {
        grid-area: img5;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery6 {
        grid-area: img6;
        width: 100%;
        height: 100%; }
      #main_galeria section .gallery_container .img_gallery7 {
        grid-area: img7;
        width: 100%;
        height: 100%; }
  /* FIN MAIN GALERIA */
  /* MAIN NOSOTROS */
  #main_nosotros {
    flex-direction: column; }
    #main_nosotros .group_profile {
      flex-direction: row;
      width: 80%; }
      #main_nosotros .group_profile .user_profile {
        flex-direction: column;
        margin: 0px 20px; }
        #main_nosotros .group_profile .user_profile .biography p {
          font-size: 1em;
          padding: 20px; }
        #main_nosotros .group_profile .user_profile .profile_socials img {
          height: 40px; }
  /* FIN MAIN NOSOTROS */
  /* MAIN CONTACTO */
  #main_contacto {
    flex-direction: column; }
    #main_contacto .form_container {
      width: 40%; }
  /* FIN MAIN CONTACTO */
  /* Sponsors */
  .sponsor-img {
    width: 8%; } }
