@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*VARIABLES*/
/*MIXIN*/
/*EXTEND*/
.hr, #main_usuario .login hr, footer .hr2 {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.card, #main_productos .col-md-9 .contenido .fcard {
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center; }

.fcard__container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid silver; }

.img, #main_productos .col-md-9 .contenido .fcard__container img {
  width: 100%;
  height: initial;
  cursor: pointer; }

.title, #main_productos .col-md-9 .contenido .fcard__title, #main_productos .col-md-9 .contenido .fcard__price {
  font-size: 1.2em;
  text-align: center;
  font-weight: lighter; }

.send, #main_productos .col-md-9 .contenido .fcard__send {
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  background-color: #4caf50;
  border-radius: 5px;
  margin: 10px;
  text-align: center; }

.icon-truck, #main_productos .col-md-9 .contenido .fcard__send i {
  color: #4df353;
  font-size: 0.9em;
  margin: 0 20px; }

.card-btn, #main_productos .col-md-9 .contenido .fcard__buy--btn {
  width: 100%;
  height: 50px;
  display: inline-block;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 10px 15px silver;
  border: none;
  margin: 20px 0; }
  .card-btn:hover, #main_productos .col-md-9 .contenido .fcard__buy--btn:hover {
    background-color: #F60144; }
  .card-btn--carrito {
    color: black;
    font-size: 1em;
    position: relative; }

/* MAIN INICIO */
#main_inicio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020; }
  #main_inicio .product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px; }
    #main_inicio .product__container {
      margin: 20px;
      position: relative;
      display: flex;
      align-items: center;
      box-shadow: 0 15px 15px black;
      overflow: hidden;
      opacity: 0.5;
      filter: grayscale(1);
      transition: 0.5s ease; }
      #main_inicio .product__container:hover {
        opacity: 8;
        filter: none; }
      #main_inicio .product__container img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        transition: all 3s ease-out; }
        #main_inicio .product__container img:hover {
          transform: scale(1.1); }
      #main_inicio .product__container h3 {
        position: absolute;
        color: white;
        text-align: center;
        width: 100%;
        font-size: calc(1vw + 1.2rem);
        transition: all 0.5s ease; }

/* FIN MAIN INICIO */
/* MAIN PRODUCTOS */
#main_productos {
  margin: 100px auto;
  display: flex;
  flex-direction: row; }
  #main_productos .col-md-3 {
    width: 25%; }
  #main_productos .accordion-item button {
    font-weight: bold; }
  #main_productos .sub-item {
    padding: 0; }
    #main_productos .sub-item div {
      margin: 20px 0; }
      #main_productos .sub-item div span {
        text-decoration: none;
        margin: 0 30px;
        transition: all 0.5 ease;
        font-size: 1em;
        cursor: pointer; }
        #main_productos .sub-item div span:hover {
          background-color: #B30737;
          padding: 10px;
          border-radius: 5px;
          font-weight: bold; }
  #main_productos .col-md-9 {
    padding: 0px 60px;
    margin: 0;
    width: 75%; }
    #main_productos .col-md-9 .contenido {
      width: 100%;
      height: 100%;
      background-color: #202020;
      margin: 0px 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;
      padding: 20px; }
      #main_productos .col-md-9 .contenido .fcard {
        transition: .5s ease; }
        #main_productos .col-md-9 .contenido .fcard:hover {
          box-shadow: 0px 0px 20px black; }
        #main_productos .col-md-9 .contenido .fcard__description {
          margin: 20px; }
        #main_productos .col-md-9 .contenido .fcard__title {
          margin: 20px 0px;
          color: #3C4858; }
        #main_productos .col-md-9 .contenido .fcard__price {
          font-weight: bold; }

/* FIN MAIN PRODUCTOS */
/* MAIN GALERIA */
#main_galeria {
  height: 100%;
  width: 100%;
  margin-bottom: 200px;
  margin-top: 100px;
  background-color: #000000; }
  #main_galeria .banner__lg {
    height: 100%;
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    padding: 20px; }
    #main_galeria .banner__lg--card {
      width: 50%;
      height: auto; }
    #main_galeria .banner__lg--description {
      width: 50%;
      height: 100%;
      text-align: center;
      color: white; }
      #main_galeria .banner__lg--description div {
        padding: 20px; }
        #main_galeria .banner__lg--description div h2 {
          font-size: 1.3em;
          font-weight: 600;
          position: relative;
          width: 100%;
          text-align: center; }
        #main_galeria .banner__lg--description div p {
          margin: 20px 0; }
  #main_galeria .banner__sm {
    width: 100%;
    height: auto;
    background-color: #202020;
    padding: 20px;
    margin: 10em 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; }
    #main_galeria .banner__sm--img {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "img1 img2 img3" "img4 img5 img6";
      grid-gap: 30px;
      justify-items: center;
      align-items: center; }
      #main_galeria .banner__sm--img .img_gallery {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        #main_galeria .banner__sm--img .img_gallery img {
          width: 60%;
          height: 50%;
          opacity: 0.7;
          filter: grayscale(2);
          transition: all 0.5s ease;
          transform: scale(1); }
        #main_galeria .banner__sm--img .img_gallery img:hover {
          filter: none;
          opacity: 1;
          transform: scale(1.1); }
    #main_galeria .banner__sm--card {
      height: 100%;
      width: 50%;
      background-color: #303030;
      border-radius: 5px; }
    #main_galeria .banner__sm--img {
      width: 100%;
      height: 100%;
      padding: 20px; }
      #main_galeria .banner__sm--img img {
        width: 100%;
        height: 100%; }
    #main_galeria .banner__sm--description {
      width: 50%;
      height: 100%;
      text-align: center;
      color: white;
      margin: auto; }
      #main_galeria .banner__sm--description div {
        padding: 20px; }
        #main_galeria .banner__sm--description div h2 {
          font-size: 1.3em;
          font-weight: 600;
          position: relative;
          width: 100%;
          text-align: center; }
        #main_galeria .banner__sm--description div p {
          margin: 20px 0; }

/* FIN MAIN GALERIA */
/* MAIN NOSOTROS */
#main_nosotros {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #main_nosotros .group_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 100px 0; }
    #main_nosotros .group_profile .profile {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #202020;
      border-radius: 5px;
      padding: 20px;
      transition: 0.5s ease; }
      #main_nosotros .group_profile .profile:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 15px silver; }
      #main_nosotros .group_profile .profile__avatar {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center; }
        #main_nosotros .group_profile .profile__avatar img {
          width: 100%;
          height: 100%;
          border: 2px solid white;
          border-radius: 50%; }
      #main_nosotros .group_profile .profile__body {
        color: #ffffff;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%; }
        #main_nosotros .group_profile .profile__body--biography h3 {
          font-weight: bold;
          font-size: 1.2em;
          margin: 0;
          padding: 0; }
        #main_nosotros .group_profile .profile__body--biography p {
          margin: 0; }
      #main_nosotros .group_profile .profile__socials {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%; }
        #main_nosotros .group_profile .profile__socials img {
          width: 40px; }

.profile__body {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .profile__body--biography h3 {
    font-weight: bold;
    padding: 10px 0;
    font-size: 2em; }
  .profile__body--biography p {
    padding: 20px; }
  .profile__body .profile__social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
    .profile__body .profile__social--icon {
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 5px;
      transition: all 0.5s;
      padding: 0;
      margin: 5px; }
      .profile__body .profile__social--icon i.p-twitter:hover {
        color: #46c1f6;
        box-shadow: 0 0 10px #46c1f6; }
      .profile__body .profile__social--icon i.p-facebook:hover {
        color: #3b5999;
        box-shadow: 0 0 10px #3b5999; }
      .profile__body .profile__social--icon i.p-linkedin:hover {
        color: #0072b1;
        box-shadow: 0 0 10px #0072b1; }
      .profile__body .profile__social--icon i {
        font-size: 20px;
        line-height: 50px;
        border-radius: 50px;
        width: 100%;
        color: white;
        transition: all 0.5s ease; }

/* FIN MAIN NOSOTROS */
/* MAIN CONTACTO */
#main_contacto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #main_contacto .form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px; }

.contact {
  background-color: #202020;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff; }
  .contact-label {
    font-size: 20px;
    display: block;
    padding-top: 15px;
    margin: 10px 0px; }
  .contact-input {
    color: #ffffff;
    width: 70%;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    border: solid 1px #c0c0c0;
    transition: all 0.4s ease; }
  .contact-input:hover {
    border: solid 1px #ffffff; }
  .contact-input:focus {
    border-color: #F60144;
    box-shadow: 0 1px 1px #F60144;
    outline: none; }
  .contact textarea {
    width: 100%;
    height: 100%; }
  .contact .send, .contact #main_productos .col-md-9 .contenido .fcard__send, #main_productos .col-md-9 .contenido .contact .fcard__send {
    margin: 10px 0px;
    font-size: 20px;
    width: 100%;
    color: silver;
    background: #B00F4B;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 5px; }
  .contact .send:hover, .contact #main_productos .col-md-9 .contenido .fcard__send:hover, #main_productos .col-md-9 .contenido .contact .fcard__send:hover {
    color: white;
    border: 1px solid white; }

/* FIN MAIN CONTACTO */
#main_usuario {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url(../img/fondo-usuario1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #main_usuario .login {
    background-color: #ffffff;
    width: 30%;
    height: auto;
    padding: 10em 5em;
    text-align: left;
    font-weight: 500;
    border-radius: 2em; }
    #main_usuario .login .logo {
      width: 100%;
      display: flex;
      justify-content: center; }
      #main_usuario .login .logo img {
        width: 100%; }
    #main_usuario .login__title {
      text-align: center;
      margin: 20px 0;
      font-size: calc(0.7vh + 1em); }
    #main_usuario .login form {
      margin: 20px 0; }
    #main_usuario .login__container--user {
      margin: 20px 0; }
      #main_usuario .login__container--user .login-label {
        width: 100%;
        margin: 10px 0;
        display: block;
        text-align: left; }
      #main_usuario .login__container--user .login-input {
        width: 100%;
        padding: 10px;
        border: 1px solid silver;
        border-radius: 5px; }
        #main_usuario .login__container--user .login-input:hover {
          border: 1px solid black;
          transition: .5s ease; }
        #main_usuario .login__container--user .login-input:focus {
          border: 1px solid #F60144;
          box-shadow: 0 0px 5px #F60144;
          outline: none;
          transition: none; }
    #main_usuario .login .login-question {
      text-decoration: none;
      font-size: 0.9em;
      float: right;
      color: #F60144; }
      #main_usuario .login .login-question:hover {
        opacity: .7; }
    #main_usuario .login .button_sing-in {
      width: 100%;
      height: 50px;
      margin: 20px 0;
      font-size: 1em;
      color: #ffffff;
      background-color: #FF005F;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.1s ease; }
      #main_usuario .login .button_sing-in:hover {
        filter: grayscale(0.1); }
    #main_usuario .login .registrar {
      text-align: center; }
      #main_usuario .login .registrar p {
        font-size: .8em;
        font-weight: 600; }
        #main_usuario .login .registrar p a {
          text-decoration: none;
          color: #FF005F;
          margin: 0 5px; }
    #main_usuario .login hr {
      margin: 20px 0; }
    #main_usuario .login__container--social {
      margin: 30px 0; }
      #main_usuario .login__container--social .login-social {
        text-decoration: none;
        color: black;
        font-weight: 600; }
        #main_usuario .login__container--social .login-social div {
          width: 100%;
          margin: 20px 0;
          padding: 20px;
          border-radius: 10px;
          border: 1px solid silver;
          text-align: center;
          transition: .2s ease-out; }
          #main_usuario .login__container--social .login-social div:hover {
            border: 1px solid black; }
        #main_usuario .login__container--social .login-social .icon-login-g {
          float: left;
          color: #de5246; }
        #main_usuario .login__container--social .login-social .icon-login-f {
          float: left;
          color: #3b5999; }

body {
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background: #000000; }

/******************************** HEADER ********************************/
/******************************** Logo y nav ********************************/
header {
  background-image: url(../img/Fondo-nvidia-optimizada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-bottom: 1rem;
  /******************************** Boton menu de hamburgesas ********************************/ }
  header .navbar_main {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.472); }
    header .navbar_main .navbar {
      padding: 0; }
  header .navbar_container {
    text-align: center; }
    header .navbar_container .navbar_link {
      width: 100%;
      height: 100%;
      margin: 0 20px; }
      header .navbar_container .navbar_link a {
        text-align: center;
        text-decoration: none;
        color: #c0c0c0;
        position: relative;
        font-size: 1.2em; }
      header .navbar_container .navbar_link a:hover {
        color: #ffffff; }
      header .navbar_container .navbar_link a::after {
        content: "";
        position: absolute;
        background-color: #F60144;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.5s ease-out; }
      header .navbar_container .navbar_link a:hover::after {
        width: 100%; }
  header .navbar_container_icon {
    display: flex;
    width: 100%; }
    header .navbar_container_icon a {
      margin: 0;
      width: 100%; }
      header .navbar_container_icon a button {
        background-color: transparent;
        border: none;
        color: white;
        transition: all 0.5s ease; }
      header .navbar_container_icon a button:hover {
        color: black;
        transition: .3s ease-in-out;
        background-color: #F60144; }
  header .header_title {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff; }
    header .header_title h1 {
      font-weight: 700;
      font-size: 4rem;
      text-align: center; }
    header .header_title p {
      font-size: 1.4rem;
      text-align: center; }
  header .header_button_down {
    border-radius: 3rem;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    background-color: #F60144;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: none;
    transition: all 0.5s ease; }
    header .header_button_down:hover {
      background-color: black; }
  header .navbar-light .navbar-toggler {
    border: 1px solid silver;
    color: transparent; }
  header .navbar-light .navbar-toggler:hover {
    box-shadow: 0px 0px 5px 1px silver; }
  header .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28170, 161, 161, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

/******************************** HEADER SECONDARY ********************************/
#header_secondary {
  width: 100%;
  height: auto;
  background-image: none;
  background: rgba(0, 0, 0, 0.472);
  padding: 0; }
  #header_secondary .navbar_main {
    width: 100%;
    display: flex;
    justify-content: center; }
    #header_secondary .navbar_main .navbar {
      padding: 0; }
  #header_secondary .navbar_container {
    text-align: center; }
    #header_secondary .navbar_container .navbar_link {
      width: 100%;
      height: 100%;
      margin: 0 20px; }
      #header_secondary .navbar_container .navbar_link a {
        text-align: center;
        text-decoration: none;
        color: #c0c0c0;
        position: relative;
        font-size: 1.2em; }
      #header_secondary .navbar_container .navbar_link a:hover {
        color: #ffffff; }
      #header_secondary .navbar_container .navbar_link a::after {
        content: "";
        position: absolute;
        background-color: #F60144;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.5s ease-out; }
      #header_secondary .navbar_container .navbar_link a:hover::after {
        width: 100%; }
  #header_secondary .navbar_container_icon {
    display: flex;
    align-items: center;
    justify-content: center; }
    #header_secondary .navbar_container_icon button {
      background-color: transparent;
      border: none;
      color: white;
      transition: all 0.5s ease; }
    #header_secondary .navbar_container_icon button:hover {
      color: black;
      transition: .3s ease-in-out;
      background-color: #F60144; }

/******************************** Fin logo y nav ********************************/
/******************************** Sponsors ********************************/
.sponsor {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #ffffff;
  padding: 40px 0px;
  /******************************** BOTON MENU DE HAMBURGESAS ********************************/ }
  .sponsor__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
    .sponsor__container .sponsor-img {
      margin: 0px 15px;
      transition: all .3s;
      filter: grayscale(1);
      opacity: .5;
      cursor: pointer;
      transition: .5s ease; }
    .sponsor__container .sponsor-img:hover {
      filter: none;
      opacity: 1; }
  .sponsor .navbar-light .navbar-toggler {
    border: 1px solid silver; }
  .sponsor .navbar-light .navbar-toggler:hover {
    box-shadow: 0px 0px 5px 1px silver; }
  .sponsor .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28170, 161, 161, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

/******************************** FOOTER ********************************/
footer {
  height: auto;
  background-color: black;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  /******************************** FOOTER END ********************************/ }
  footer #footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0px 100px;
    line-height: 1.5rem;
    /******************************** Informacion de nosotros ********************************/
    /******************************** Redes sociales ********************************/ }
    footer #footer__container .footer__about {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #ffffff; }
      footer #footer__container .footer__about--title {
        font-weight: bold;
        width: 100%;
        font-size: 1.2em;
        margin: 20px 0px;
        text-align: center; }
      footer #footer__container .footer__about--nav {
        list-style: none;
        margin: 0;
        padding: 0; }
        footer #footer__container .footer__about--nav .about_item {
          color: #c0c0c0;
          font-weight: bold;
          font-size: 13px;
          margin: 15px 0px;
          font-weight: 800; }
          footer #footer__container .footer__about--nav .about_item .link-item {
            text-decoration: none;
            color: #c0c0c0;
            transition: all 0.3s ease; }
            footer #footer__container .footer__about--nav .about_item .link-item:hover {
              color: #ffffff; }
            footer #footer__container .footer__about--nav .about_item .link-item i {
              font-size: 1.3em; }
    footer #footer__container .footer__nav {
      width: 100%;
      height: 100%; }
      footer #footer__container .footer__nav ul {
        width: 100%;
        height: 100%;
        margin: 50px 0;
        padding: 0;
        text-align: center;
        list-style: none; }
        footer #footer__container .footer__nav ul li {
          margin: 20px 0; }
          footer #footer__container .footer__nav ul li a {
            text-decoration: none; }
    footer #footer__container .social_container {
      width: 100%;
      height: 100%; }
    footer #footer__container .footer__social {
      color: #ffffff;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      footer #footer__container .footer__social--title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        margin: 20px 0px;
        width: 100%; }
      footer #footer__container .footer__social--icon {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px 0px;
        padding: 0; }
        footer #footer__container .footer__social--icon .social-icon {
          width: 50px;
          height: 50px;
          background-color: white;
          text-align: center;
          margin: 0 10px;
          border-radius: 50%;
          transition: all 0.5s; }
          footer #footer__container .footer__social--icon .social-icon.twitter:hover {
            background-color: #46c1f6; }
          footer #footer__container .footer__social--icon .social-icon.facebook:hover {
            background-color: #3b5999; }
          footer #footer__container .footer__social--icon .social-icon.instagram:hover {
            background-color: #e1306c; }
          footer #footer__container .footer__social--icon .social-icon i {
            font-size: 20px;
            line-height: 50px;
            width: 100%;
            border-radius: 50%;
            color: black;
            transition: all 0.5s ease; }
            footer #footer__container .footer__social--icon .social-icon i:hover {
              color: white; }
  footer .hr2 {
    margin: 0px 20px;
    width: auto; }
  footer .footer_end {
    background-color: black;
    width: 100%;
    padding: 10px 0;
    text-align: center; }
    footer .footer_end p {
      color: white;
      margin: 0;
      font-size: 14px;
      font-weight: 400; }

/******************************** FIN FOOTER ********************************/
/******************************** MOBILE ********************************/
@media only screen and (max-width: 576px) {
  /* Logo y nav */
  header .navbar_main {
    flex-direction: column;
    width: 100%; }
    header .navbar_main .navbar_logo {
      width: 200px;
      height: 50%; }
  header .navbar_container .navbar_link {
    margin: 10px 0; }
  header .navbar_container_icon {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 10px; }
    header .navbar_container_icon button {
      width: 100%;
      height: 100%;
      padding: 15px; }
  header .header_title {
    height: 30vh; }
    header .header_title h1 {
      font-size: 4em; }
  /******************************** HEADER SECONDARY ********************************/
  /* Logo y nav */
  #header_secondary .navbar_main {
    flex-direction: column;
    width: 100%; }
    #header_secondary .navbar_main .navbar_logo {
      width: 200px;
      height: 50%; }
  #header_secondary .navbar_container .navbar_link {
    margin: 10px 0; }
  /* Fin logo y nav */
  /* MAIN USUARIO */
  #main_usuario {
    background-image: none; }
    #main_usuario .login {
      width: 100%;
      padding: 10px; }
      #main_usuario .login .logo img {
        width: 60%; }
  /*FIN MAIN USUARIO*/
  /* MAIN INICIO */
  #main_inicio .product {
    margin: 100px 0; }
  /* FIN MAIN INICIO */
  /* MAIN PRODUCTOS */
  #main_productos {
    margin: 100px auto;
    display: flex;
    flex-direction: column; }
    #main_productos .col-md-3 {
      width: 100%; }
    #main_productos .fcard {
      height: auto; }
      #main_productos .fcard .fcard__container img {
        width: 200px; }
    #main_productos .col-md-9 {
      width: 100%;
      padding: 0; }
      #main_productos .col-md-9 .contenido {
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 100px 0;
        justify-content: center; }
        #main_productos .col-md-9 .contenido .fcard {
          height: auto;
          width: 80%; }
          #main_productos .col-md-9 .contenido .fcard .fcard__container {
            width: 100%; }
            #main_productos .col-md-9 .contenido .fcard .fcard__container img {
              width: 50%;
              height: auto; }
  /* FIN MAIN PRODUCTOS */
  /* MAIN NOSOTROS */
  #main_nosotros {
    flex-direction: column; }
    #main_nosotros .group_profile {
      width: 80%;
      flex-direction: column; }
      #main_nosotros .group_profile .profile {
        width: 100%;
        flex-direction: column;
        margin: 20px 0; }
        #main_nosotros .group_profile .profile__avatar img {
          max-width: 200px;
          width: 100%; }
        #main_nosotros .group_profile .profile__body {
          flex-direction: column;
          margin: 20px 0; }
          #main_nosotros .group_profile .profile__body--biography h3 {
            font-size: 1em; }
  /* FIN MAIN NOSOTROS */
  /* MAIN GALERIA */
  #main_galeria .banner__lg {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px; }
    #main_galeria .banner__lg--card {
      width: 100%;
      height: auto; }
    #main_galeria .banner__lg--description {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: none;
      color: white; }
  #main_galeria .banner__sm {
    flex-direction: column-reverse; }
    #main_galeria .banner__sm--img .img_gallery img {
      height: 80%; }
    #main_galeria .banner__sm--card {
      width: 100%; }
    #main_galeria .banner__sm--description {
      width: 100%; }
  /* FIN MAIN GALERIA */
  /* MAIN CONTACTO */
  .form_container {
    width: 90%; }
    .form_container .form-label {
      font-size: 1em; }
    .form_container .form-input {
      font-size: 0.9em;
      padding: 10px; }
  /* FIN MAIN CONTACTO */
  /* Sponsors */
  .sponsor-img {
    width: 14%; }
  /* FOOTER */
  footer #footer__container {
    flex-direction: column; }
    footer #footer__container .footer__social--icon {
      width: auto;
      flex-wrap: nowrap; }
  /* FIN FOOTER */ }

/* TABLET */
@media only screen and (min-width: 576px) {
  /* Logo y nav */
  .navbar_main {
    flex-direction: column; }
    .navbar_main .navbar_logo {
      width: 200px; }
    .navbar_main .navbar-nav {
      display: flex;
      flex-direction: row;
      margin: 20px 0; }
    .navbar_main .navbar_container_icon {
      width: 100%;
      height: 100%;
      justify-content: space-around; }
      .navbar_main .navbar_container_icon button {
        width: 100%;
        height: 100%;
        padding: 20px; }
      .navbar_main .navbar_container_icon .navbar-icon {
        width: 20px;
        height: 20px; }
  /* Fin logo y nav */
  /* MAIN USUARIO */
  #main_usuario {
    padding: 100px; }
    #main_usuario .login {
      width: 100%;
      padding: 0 20px; }
      #main_usuario .login .logo img {
        width: 60%; }
  /* FIN MAIN USUARIO*/
  /* MAIN PRODUCTOS */
  #main_productos {
    margin: 100px auto;
    display: flex;
    flex-direction: column; }
    #main_productos .col-md-3 {
      width: 100%; }
    #main_productos .sidebar {
      width: 100%;
      height: auto; }
      #main_productos .sidebar .panel__menu--items .items {
        text-align: left; }
        #main_productos .sidebar .panel__menu--items .items i {
          float: right; }
      #main_productos .sidebar .panel__menu--items .submenu .sub-items {
        text-align: left; }
      #main_productos .sidebar .panel {
        text-align: center; }
    #main_productos .col-md-9 {
      width: 100%;
      margin: 100px 0;
      padding: 0; }
      #main_productos .col-md-9 .contenido {
        margin: 0; }
  /* MAIN PRODUCTOS */
  /* MAIN GALERIA */
  #main_galeria .banner__lg {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px; }
    #main_galeria .banner__lg--card {
      width: 100%;
      height: auto; }
    #main_galeria .banner__lg--description {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: none;
      color: white; }
  #main_galeria .banner__sm {
    flex-direction: column-reverse; }
    #main_galeria .banner__sm--img .img_gallery img {
      width: 100%;
      height: 80%; }
  /* FIN MAIN GALERIA */
  /* MAIN NOSOTROS */
  #main_nosotros {
    flex-direction: column; }
    #main_nosotros .group_profile {
      width: 80%;
      flex-direction: column; }
      #main_nosotros .group_profile .profile {
        margin: 20px;
        flex-direction: row; }
        #main_nosotros .group_profile .profile__body {
          width: 80%;
          padding: 10px; }
          #main_nosotros .group_profile .profile__body--biography {
            width: 100%; }
            #main_nosotros .group_profile .profile__body--biography p {
              padding: 10px 5px; }
  /* FIN MAIN NOSOTROS */
  /* MAIN CONTACTO */
  .form_container {
    width: 70%; }
  /* FIN MAIN CONTACTO */
  /* Sponsors */
  .sponsor-img {
    width: 14%; }
  #footer__container {
    flex-direction: column; } }

/* ESCRITORIO */
@media only screen and (min-width: 992px) {
  /* Logo y nav */
  header {
    height: 100vh;
    width: 100%; }
    header .navbar_main {
      flex-direction: row; }
      header .navbar_main .navbar_logo {
        width: 200px; }
      header .navbar_main .navbar_container {
        width: 100%;
        margin: 0 20px; }
      header .navbar_main .navbar_container_icon {
        width: 50%; }
    header .header_title h1 {
      font-size: 5em; }
  /* Fin logo y nav */
  /* MAIN USUARIO */
  #main_usuario {
    padding: 5em; }
    #main_usuario .login {
      width: 30%;
      padding: 0 30px; }
      #main_usuario .login .logo {
        width: 100%;
        display: flex;
        justify-content: center; }
        #main_usuario .login .logo img {
          width: 80%; }
  /*FIN MAIN USUARIO*/
  /* MAIN PRODUCTOS */
  #main_productos {
    margin: 100px auto;
    display: flex;
    flex-direction: row; }
    #main_productos .col-md-3 {
      width: 25%; }
    #main_productos .sidebar .panel__menu--items .items {
      text-align: left; }
      #main_productos .sidebar .panel__menu--items .items i {
        float: right; }
    #main_productos .col-md-9 {
      padding: 0px 60px;
      margin: 0;
      width: 75%; }
  /* FIN MAIN PRODUCTOS */
  /* MAIN GALERIA */
  #main_galeria .banner__lg {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #main_galeria .banner__lg--card {
      width: 100%;
      height: auto; }
    #main_galeria .banner__lg--description {
      width: 100%;
      height: 100%;
      margin: auto; }
  #main_galeria .banner__sm {
    flex-direction: row-reverse; }
    #main_galeria .banner__sm .img_gallery img {
      width: 60%;
      height: 80%; }
  /* FIN MAIN GALERIA */
  /* MAIN NOSOTROS */
  #main_nosotros {
    flex-direction: column; }
    #main_nosotros .group_profile {
      flex-direction: row;
      width: 80%; }
      #main_nosotros .group_profile .profile {
        flex-direction: column;
        margin: 0px 50px; }
        #main_nosotros .group_profile .profile__body {
          padding: 0;
          margin: 20px;
          width: 100%; }
        #main_nosotros .group_profile .profile__avatar {
          width: 100%;
          height: 100%; }
        #main_nosotros .group_profile .profile img {
          width: 50%;
          height: 100%; }
        #main_nosotros .group_profile .profile__body--biography h3 {
          font-size: 1.2em; }
        #main_nosotros .group_profile .profile__body--biography p {
          font-size: 1em;
          margin: 20px; }
  /* FIN MAIN NOSOTROS */
  /* MAIN CONTACTO */
  #main_contacto {
    flex-direction: column; }
    #main_contacto .form_container {
      width: 40%; }
  /* FIN MAIN CONTACTO */
  /* Sponsors */
  .sponsor-img {
    width: 8%; }
  #footer__container {
    flex-direction: row; } }
