/*MIXIN*/ 

@mixin posicion($display, $jContent, $aItems, $fDirection) {
    display: $display;
    justify-content: $jContent;
    align-items: $aItems;
    flex-direction: $fDirection;
}



/*EXTEND*/ 
.hr{
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card{
    width: 100%; 
    height: 100%;
    background-color: white;
    text-align: center;
}

.fcard__container{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 100%;
    height: initial;
    cursor: pointer;
}

.title{
    font-size: 1.2em;
    text-align: center;
    font-weight: lighter;
}