/* MAIN INICIO */
#main_inicio{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;

    .product{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 100px;

        &__container{
            margin: 20px;
            position: relative;
            display: flex;
            align-items: center; 
            box-shadow: 0 15px 15px black;
            overflow: hidden;
            opacity: 0.5;
            filter: grayscale(1);
            transition:  0.5s ease;

            &:hover{
                opacity: 8;
                filter: none;
            }
            
            img{
                border-radius: 5px;
                width: 100%;
                height: 100%;
                transition: all 3s ease-out;

                &:hover{
                    transform: scale(1.1);
                }
            }

            h3{
                position: absolute;
                color: white;  
                text-align: center; 
                width: 100%;
                font-size: calc(1vw + 1.2rem);
                transition: all 0.5s ease;
            }
        }
    }
}
/* FIN MAIN INICIO */



/* MAIN PRODUCTOS */
#main_productos{
    margin: 100px auto;
    display: flex;
    flex-direction: row;

        .col-md-3{
            width: 25%;
        }

        .accordion-item button{
            font-weight: bold;
        }

        .sub-item{
            padding: 0;

            div{
                margin: 20px 0;

                span{
                    text-decoration: none;
                    margin: 0 30px;
                    transition: all 0.5 ease;
                    font-size: 1em;
                    cursor: pointer;

                    &:hover{
                        background-color: #B30737;
                        padding: 10px;
                        border-radius: 5px;
                        font-weight: bold;
                    }
                }
            }
        }

    .col-md-9{
        padding: 0px 60px;
        margin: 0;
        width: 75%;

        .contenido{
            width: 100%;
            height: 100%;
            background-color: #202020;
            margin: 0px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            padding: 20px;

            .fcard{
                @extend .card;
        
                &__container img{
                    @extend .img;
                }
        
                &__description{
                    margin: 20px;
                }
        
                &__title{
                    @extend .title;
                    margin: 20px 0px;
                    color: #3C4858;
                }
        
                &__price{
                    @extend .title;
                    font-weight: bold;
                }

                &__send{
                    @extend .send;

                    i{
                        @extend .icon-truck;
                    }
                }

                &__buy--btn{
                    @extend .card-btn;
                }
            }
        }
    }
}
/* FIN MAIN PRODUCTOS */




/* MAIN GALERIA */
#main_galeria{
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 100px;
    background-color: #000000;

    .banner__lg{
        height: 100%;
        width: 100%;
        background-color: #202020;
        display: flex;
        flex-direction: row;
        padding: 20px;
        
        &--card{
            width: 50%;
            height: auto;
        }

        &--description{
            width: 50%;
            height: 100%;
            text-align: center;
            color: white;

            div{
                padding: 20px;

                h2{
                    font-size: 1.3em;
                    font-weight: 600;
                    position: relative;
                    width: 100%;
                    text-align: center;
                }

                p{
                    margin: 20px 0;
                }
            }
        }
    }

    .banner__sm{
        width: 100%;
        height: auto;
        background-color: #202020;
        padding: 20px;
        margin: 10em 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        &--img{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            "img1 img2 img3"
            "img4 img5 img6";
            grid-gap: 30px;
            justify-items: center;
            align-items: center;
            
            .img_gallery{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img{
                    width: 60%;
                    height: 50%;
                    opacity: 0.7;
                    filter: grayscale(2);
                    transition: all 0.5s ease;
                    transform: scale(1);
                }
    
                img:hover{
                    filter: none;
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        &--card{
            height: 100%;
            width: 50%;
            background-color: #303030;
            border-radius: 5px;
        }

        &--img {
            width: 100%;
            height: 100%;
            padding: 20px;

            img{
                width: 100%;
                height: 100%;
            }
        }

        &--description{
            width: 50%;
            height: 100%;
            text-align: center;
            color: white;
            margin: auto;

            div{
                padding: 20px;

                h2{
                    font-size: 1.3em;
                    font-weight: 600;
                    position: relative;
                    width: 100%;
                    text-align: center;
                }

                p{
                    margin: 20px 0;
                }
            }
        }
    }
}
/* FIN MAIN GALERIA */



/* MAIN NOSOTROS */
#main_nosotros{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .group_profile{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 100px 0;

        .profile{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #202020;
            border-radius: 5px;
            padding: 20px;
            box-shadow:  10px 10px 15px -8px silver;
            transition: 0.5s ease;

            &:hover{
                transform: scale(1.1);
            }

            &__avatar{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;

                img{
                    height: 100%;
                    border: 2px solid white;
                    border-radius: 50%;
                }
            }

            &__body{
                color: $color-white;
                text-align: center;
                @include posicion(flex, space-between, center, column);
                width: 100%;

                &--biography h3{
                    font-weight: bold;
                    font-size: 1.2em;
                    margin: 0;
                    padding: 0;
                }
                
                &--biography p{
                    margin: 0;
                }
            }

            &__socials{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 100%;
        
                & img{
                    width: 40px;
                }
            }
        }
    }
}

.profile__body{
    color: $color-white;
    text-align: center;
    @include posicion(flex, space-between, center, column);
    width: 100%;

    &--biography h3{
        font-weight: bold;
        padding: 10px 0;
        font-size: 2em;
    }
    
    &--biography p{
        padding: 20px;
    }
    
    .profile__social{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        &--icon{
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 5px;
            transition: all 0.5s;
            padding: 0;
            margin: 5px;

            i.p-twitter:hover{
                color: #46c1f6;
                box-shadow: 0 0 10px #46c1f6;
            }

            i.p-facebook:hover{
                color: #3b5999;
                box-shadow: 0 0 10px #3b5999;
            }

            i.p-linkedin:hover{
                color: #0072b1;
                box-shadow: 0 0 10px #0072b1;
            }

            & i{
                font-size: 20px;
                line-height: 50px;
                border-radius: 50px;
                width: 100%;
                color: white;
                transition: all 0.5s ease;
            }
        }
    }
}
/* FIN MAIN NOSOTROS */



/* MAIN CONTACTO */
#main_contacto{
    width: 100%;
    height: 100%;
    @include posicion(flex, center, center, column);

    .form_container{
        @include posicion(flex, center, center, column);
        margin: 100px;
    }
}

.form{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #202020;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    color: $color-white;

    &-label{
        font-size: 20px;
        display: block;
        padding-top: 15px;
        margin: 10px 0px;
    }

    &-input{
        color: $color-white;
        width: 70%;
        border-radius: 5px;
        padding: 10px;
        background-color: black;
        border: solid 1px $color-silver;
        transition: all 0.4s ease;
    }
    
    &-input:hover{
        border: solid 1px $color-white;
    }
    
    &-input:focus{
        border-color: $color-red-light;
        box-shadow: 0 1px 1px #ed0202af;
        outline: none;
    }

    & textarea{
        width: 100%;
        height: 100%;
    }

    & .send{
        margin: 10px 0px;
        font-size: 20px;
        width: 100%;
        color: silver;
        background: #B00F4B;
        padding: 20px;
        border: 1px solid black;
        cursor: pointer;
        transition: 0.3s ease;
        border-radius: 5px;
    }
    
    & .send:hover{
        color: white;
        border: 1px solid white;
    }
}
/* FIN MAIN CONTACTO */