* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

@import '_variables.scss';
@import '_heading.scss';
@import '_main.scss';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap';


body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* HEADER */

/* Logo y nav*/
header{
    background-color: #212121;
    @include posicion(flex, space-between, center, column);
    height: 100vh;
    width: 100%;
    padding-bottom: 1rem;

    .navbar_main{
        width: 100%;
        display: flex;
        justify-content: center;

        .navbar{
            padding: 0;
        }
    }

    .navbar_container{
        .navbar_link{
            display: flex;
            width: 100%;
            height: 100%;

            a{
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: $color-silver;
                position: relative;
                font-weight: 700;
            }
            
            a:hover{
                color: $color-white;
            }
            
            a::after{
                content: "";
                position: absolute;
                background-color: $color-red-light;
                height: 3px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;
            }
            
            a:hover::after{
                width: 100%;
            }
        }
    }

    .navbar_container_icon{
        display: flex;

        a{
            display: flex;
        }
        
        a:hover{
            background-color: $color-red-light;
            transition: .3s ease-in-out;
        }
    }

    .header_title{
        height: 60vh;
        @include posicion(flex, center, center, column);
        color: $color-white;

        h1{
            font-weight: 700;
            font-size: 3.5rem;
        }
        
        p{
            font-size: 1.2rem;
        }
    }

    .header_button_down{
        border-radius: 3rem;
        height: 3rem;
        width: 10rem;
        background-color: $color-red-light;
        border: none;
        @include posicion(flex, center, center, none);

        &:hover{
            background-color: black;
            transition: 0.3s;
        }
        
        h1{
            font-size: 1rem;
            color: $color-silver;
            font-weight: bold;
            text-align: center;
        }
        
        h1:hover{
            color: $color-white;
        }
        
        h1{
            margin: 0;
        }
    }
}

#header_secondary{
    @include posicion(flex, center, center, none);
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #1a19198f, #2121211c);

    .navbar_main{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar_container{
        .navbar_link{
            display: flex;
            width: 100%;
            height: 100%;

            a{
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: $color-silver;
                position: relative;
                font-weight: 700;
            }
            
            a:hover{
                color: $color-white;
            }
            
            a::after{
                content: "";
                position: absolute;
                background-color: $color-red-light;
                height: 3px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;
            }
            
            a:hover::after{
                width: 100%;
            }
        }
    }

    .navbar_container_icon{
        display: flex;

        a{
            display: flex;
        }
        
        a:hover{
            background-color: $color-red-light;
            transition: .3s ease-in-out;
        }
    }
}
/* Fin logo y nav */



/* Sponsors */
.sponsor_carusel{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: $color-white;
    padding: 40px 0px;

    .sponsors_container{
        width: 100%;
        @include posicion(flex, space-around, center, row);

        .sponsor-img{
            margin: 0px 15px;
            transition: all .3s;
            filter: grayscale(1);
            opacity: .5;
            cursor: pointer;
        }
        
        .sponsor-img:hover{
            filter: none;
            opacity: 1;
            transition: .3s;
        }
    }
}



/* FOOTER */
footer{
    height: auto;
    background-color: black;

    #footer_container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    
        /* Informacion de nosotros */
        .footer_about{
            width: 100%;
            height: 100%;
            @include posicion(flex, center, center, column);
            color: $color-white;
    
            &_title{
                font-weight: bold;
                text-align: center;
                width: 100%;
                font-size: 1.2em;
                margin: 20px 0px;
            }
    
            &_nav{
                list-style: none;
                margin: 0;
                padding: 0;
            
                
                .about_item{
                    color: $color-silver;
                    font-weight: bold;
                    font-size: 0.9em;
                    margin: 15px 0px;
            
                    .link-item{
                        text-decoration: none;
                        color: $color-silver;

                        &:hover{
                            color: $color-white;
                            transition: 0.1s;
                        }
                    }
                }
            }
        }
    
    
        /* Redes sociales */
        .social_container{
            color: $color-white;
            height: 100%;
            width: 100%;
            @include posicion(flex, center, center, column);
    
            .social_title{
                text-align: center;
                font-weight: bold;
                font-size: 1.2em;
                margin: 20px 0px;
                width: 100%;
            }
    
            &_icon{
                width: 50%;
                height: 100%;
                list-style: none;
                @include posicion(flex, space-evenly, center, row);
                margin: 40px 0px;
                padding: 0;
    
                .social-icon{
                    filter: grayscale(1);
                    opacity: .5;
                }
                
                .social-icon img{
                    width: 30px;
                }
                
                .social-icon:hover{
                    filter: none;
                    opacity: 1;
                    transition: .3s;
                }
            }      
        }
    }

    
    .hr2{
        @extend .hr;
        margin: 0px 20px;
        width: auto;
    }

    .footer_end p{
        font-size: 1rem;
        color: $color-white;
        text-align: center;
        margin: 0;
    }
}
/* FIN FOOTER */





            /* MOBILE */
@media only screen and  (max-width: 576px){

/* Logo y nav */
header{
    flex-direction: column;

    .navbar_main{
        flex-direction: column;
        width: 100%;

        .navbar_logo{
            width: 200px;
            height: 50%;
        }
    }

    .navbar_container{
        .navbar_link a{
            font-size: 1.2em;
            padding: 5px 0;
            margin: 10px 0;
        }
    }

    .navbar_container_icon{
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        margin-top: 10px;

        & a{
            width: 100%;
            height: 100%;
            justify-content: space-around;
            align-items: center;
        }
    }

    .header_title h1{
        font-size: 3rem;
    }
}

#header_secondary{
    flex-direction: column;

    .navbar_main{
        flex-direction: column;
        width: 100%;

        .navbar_logo{
            width: 200px;
            height: 50%;
        }
    }

    .navbar_container{
        .navbar_link a{
            font-size: 1.2em;
            padding: 5px 0;
            margin: 10px 0;
        }
    }

    .navbar_container_icon{
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        margin-top: 10px;

        & a{
            width: 100%;
            height: 100%;
            justify-content: space-around;
            align-items: center;
        }
    }

    .header_title h1{
        font-size: 3rem;
    }
}
/* Fin logo y nav */



/* MAIN INICIO */
#main_inicio{
    flex-direction: column;

    .inicio_title{
        font-size: 1.5em;
    }

    .products_container{
        flex-direction: column;

        .product{
            width: 60%;
            height: auto;
            flex-direction: column;

            .product_img1{ 
                width: 100%;
                height: 60vw;
                background-position: center;            
            }
            
            &_img2{
                width: 100%;
                height: 60vw;
                background-position: center;            
            }
            
            &_img3{
                width: 100%;
                height: 60vw;
                background-position: center;
            }
        }
    }
}
/* FIN MAIN INICIO */



/* MAIN PRODUCTOS */
.main_menu_products{
    width: 100%;

    .title_menu_products{
        text-align: center;
    }
}
/* FIN MAIN PRODUCTOS */



/* MAIN NOSOTROS */
#main_nosotros{
    flex-direction: column;

    .group_profile{
        width: 80%;
        flex-direction: column;

        .user_profile{
            width: 100%;
            flex-direction: column;
            margin: 20px 0;

            .avatar_profile{
                img{
                    width: 150px;
                }
            }

            .body_profile{
                flex-direction: column;
            
                .biography h3{
                    font-size: 1em;
                }
                
                .profile_socials img{
                    height: 45px;
                }
            }
        }
    }
}
/* FIN MAIN NOSOTROS */



/* MAIN GALERIA */
.gallery_container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "img1 img1 img2 img2"
    "img3 img3 img3 img4"
    "img3 img3 img3 img5"
    "img6 img6 img7 img7";
    padding: 10px;
    grid-gap: 10px;

    .img_gallery1{
        grid-area: img3;
        width: 100%;
        height: 100%;
    }
    
    .img_gallery2{
        grid-area: img2;
        width: 100%;
        height: 100%;
    }
    
    .img_gallery3{
        grid-area: img1;
        width: 100%;
        height: 100%;
    }
    
    .img_gallery4{
        grid-area: img4;
        width: 100%;
        height: 100%;
    }
    
    .img_gallery5{
        grid-area: img5;
        width: 100%;
        height: 100%;
    }
    
    .img_gallery6{
        grid-area: img6;
        width: 100%;
        height: 100%;
    }
    
    .img_gallery7{
        grid-area: img7;
        width: 100%;
        height: 100%;
    }
}
/* FIN MAIN GALERIA */



/* MAIN CONTACTO */
.form_container{
    width: 90%;

    .form-label{
        font-size: 1em;
    }

    .form-input{
        font-size: 0.9em;
        padding: 10px;
    }
}
/* FIN MAIN CONTACTO */


/* Sponsors */
.sponsor-img{
    width: 14%;
}


/* FOOTER */
#footer_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer_about{
        justify-content: center;
        flex-direction: column;
    }
}
/* FIN FOOTER */
}





            /* TABLET */
@media only screen and (min-width: 575px){

/* Logo y nav */
.navbar_main{
    flex-direction: column;

    .navbar_logo{
        width: 200px;
    }

    .navbar-nav{
        display: flex;
        flex-direction: row;
        margin: 20px 0;
    
        .navbar_link a{
            font-size: 1.2em;
            margin: 20px 0;
        }
    }

    .navbar_container_icon{
        width: 100%;
        height: 100%;
        justify-content: space-around;

        & a{
            width: 100%;
            height: 100%;
            justify-content: center;
            padding: 20px;
        }

        .navbar-icon{
            width: 20px;
            height: 20px;
        }
    }
}
/* Fin logo y nav */



/* MAIN INICIO */
#main_inicio{
    flex-direction: column;

    .inicio_title{
        font-size: 2rem;
    }

    .products_container{
        flex-direction: column;
        padding: 0px 20px;

        .product{
            flex-direction: row;
            width: 100%;
            height: 100%;

            &_img1{
                width: 100%;
                height: 45vw;
                background-size: cover;
            }
            
            &_img2{
                width: 100%;
                height: 45vw;
                background-size: cover;
            }
            
            &_img3{
                width: 100%;
                height: 45vw;
                background-size: cover;
            }
        }

        .hr1{
            display: none;
        }

        .product_description{
            width: 100%;
            padding: 20px;
            font-size: 1.1em;
        }
    }
}
/* FIN MAIN INICIO */



/* MAIN PRODUCTOS */
#main_productos{
    justify-content: center;
    align-items: center;

    .main_menu_products{
        width: 300px;
    }
}
/* MAIN PRODUCTOS */



/* MAIN GALERIA */
#main_galeria section{
    display: flex;
    flex-direction: column;
    align-items: center;

    .gallery_container{
        display: grid;
        width: 80%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "img3 img3 img5 img5"
        "img3 img3 img4 img4"
        "img1 img1 img2 img2"
        "img6 img6 img7 img7";
        padding: 10px;
        grid-gap: 10px;

        .img_gallery1{
            grid-area: img3;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery2{
            grid-area: img2;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery3{
            grid-area: img1;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery4{
            grid-area: img4;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery5{
            grid-area: img5;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery6{
            grid-area: img6;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery7{
            grid-area: img7;
            width: 100%;
            height: 100%;
        }
    }
}
/* FIN MAIN GALERIA */



/* MAIN NOSOTROS */
#main_nosotros{
    flex-direction: column;

    .group_profile{
        width: 80%;
        flex-direction: column;

        .user_profile{
            margin: 20px;
            flex-direction: row;
        }
        
        .body_profile{
            width: 80%;
            padding: 10px;
        }
    }
}
/* FIN MAIN NOSOTROS */



/* MAIN CONTACTO */
.form_container{
    width: 70%;
}
/* FIN MAIN CONTACTO */


/* Sponsors */
.sponsor-img{
    width: 14%;
}
}





            /* ESCRITORIO */
@media only screen and (min-width: 992px){

/* Logo y nav */    
header{
    height: 100vh;
    width: 100%;

    .navbar_main{
        flex-direction: row;

        .navbar_logo{
            width: 200px;
        }

        .navbar_container{
            width: 100%;
            margin: 0px 20px;

            .navbar_link a{
                font-size: 1em;
                padding: 0px 10px;
                margin: 0px 10px;
            }
        }

        .navbar_container_icon{
            justify-content: center;
            width: 50%;

            & a{
                padding: 50px;
                justify-content: center;
            }
        }
    }
}
/* Fin logo y nav */



/* MAIN INICIO */
#main_inicio{
    flex-direction: column;

    .inicio_title{
        font-size: 2.5rem;
    }

    .products_container{
        flex-direction: row;
        align-items: center;

        .product{
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 20%;

            .product_img1{
                width: 100%;
                height: 20vw;
                background-size: cover;
                background-position: center;
            }
            
            .product_img2{
                width: 100%;
                height: 20vw;
                background-size: cover;
                background-position: center;
            }
            
            .product_img3{
                width: 100%;
                height: 20vw;
                background-size: cover;
                background-position: center;
            }
        }
        
        .hr1{
            display: block;
        }
    }
}
/* FIN MAIN INICIO */



/* MAIN PRODUCTOS */
    .main_menu_products{
        width: 30%;
        height: 700px;
    }
/* FIN MAIN PRODUCTOS */



/* MAIN GALERIA */
#main_galeria section{
    display: flex;
    flex-direction: column;
    align-items: center;

    .gallery_container{
        display: grid;
        width: 70%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "img3 img3 img1 img1 "
        "img3 img3 img2 img2 "
        "img6 img7 img4 img5 ";
        padding: 10px;
        grid-gap: 10px;

        .img_gallery1{
            grid-area: img3;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery2{
            grid-area: img2;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery3{
            grid-area: img1;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery4{
            grid-area: img4;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery5{
            grid-area: img5;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery6{
            grid-area: img6;
            width: 100%;
            height: 100%;
        }
        
        .img_gallery7{
            grid-area: img7;
            width: 100%;
            height: 100%;
        }
    }
}
/* FIN MAIN GALERIA */



/* MAIN NOSOTROS */
#main_nosotros{
    flex-direction: column;

    .group_profile{
        flex-direction: row;
        width: 80%;

        .user_profile{
            flex-direction: column;
            margin: 0px 20px;
        
            .biography p{
                font-size: 1em;
                padding: 20px;
            }
            
            .profile_socials img{
                height: 40px;
            }
        }
    }
}
/* FIN MAIN NOSOTROS */



/* MAIN CONTACTO */
#main_contacto{
    flex-direction: column;

    .form_container{
        width: 40%;
    }
}
/* FIN MAIN CONTACTO */


/* Sponsors */
.sponsor-img{
    width: 8%;
}

}